@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

$main-color: #ffd300;

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
    margin: 0;
    padding: 0;

    font-family: "IBM Plex Mono", monospace;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-height: auto;

    display: grid;
    grid-template-columns: 10% 1fr;
    grid-area: "left right";

    &-left {
        position: fixed;
        grid-area: "left";
        width: 18rem;
        height: 100vh;
        border-right: 1px solid $main-color;
        font-weight: bold;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-right {
        position: absolute;
        left: 18rem;
        grid-area: "right";
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 1000px) {
        &-left {
            width: 18rem;
        }
    }
}

.container-dark {
    .container-left {
        background-color: black;
        color: white;
    }

    .container-right {
        background-color: black;
        color: white;
    }
}
