* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.test {
    background-color: red;
    width: 100px;
}

.container {
    background-color: teal;
    width: 100%;

    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: "left right";
}
