.left-column__title {
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;

    span {
        color: $main-color;
        font-weight: bold;
    }
}

.left-column__search {
    width: 95%;
    height: auto;
    margin-top: 2rem;

    input {
        width: 100%;
        height: 2.3rem;
        font-size: 1.2rem;
        font-weight: bold;
    }

    input:focus {
        outline: none;
    }

    button {
        background-color: $main-color;
        width: 100%;
        height: 1.6rem;
        margin-top: 0.1rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.left-column__inputs {
    width: 80%;
    max-height: 40rem;
    margin-top: 2.5rem;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.3rem;

        label {
            font-size: 1.2rem;
        }
    }
}

.left-column__theme {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 15%;
    height: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #s1d {
        margin-right: 0.5rem;
    }

    @media screen and (max-width: 1000px) {
        width: 26%;
    }
}

.theme-title {
    margin-left: 0.5rem;
}

// LIGHT/DARK MODE SWITCH
.switch-wrapper {
    margin-right: 0.5rem;

    display: grid;
    place-content: center;
    min-height: 100%;
}

.switch {
    display: none;
}

.switch + div {
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: $main-color;
    transition: background-color 200ms;
    cursor: pointer;
}

.switch:checked + div {
    background-color: #111827;
}

.switch + div > div {
    width: 24px;
    height: 24px;
    border-radius: 23px;
    background-color: black;
    transition: transform 250ms;
    pointer-events: none;
}

.switch:checked + div > div {
    transform: translateX(28px);
}
