.main-movie__container {
    background-color: black;
    color: $main-color;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    width: 50rem;
    height: auto;

    img {
        width: 100%;
    }

    &__title {
        font-size: 3rem;
        height: 5rem;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }

    &__summary {
        text-align: center;
        font-size: 1.2rem;
    }

    &__director,
    &__genres,
    &__writers,
    &__links {
        width: 100%;

        display: flex;
        justify-content: space-between;

        a {
            color: $main-color;
        }
    }
}

.info_container__actors {
    width: 100%;
    height: auto;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    margin-left: 7rem;

    li {
        padding: 0.3rem;
    }
}

// DIVIDERS
h1 {
    overflow: hidden;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1:before,
h1:after {
    background-color: $main-color;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}
